@font-face {
  font-family: "Cinzel Decorative Normal";
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/CinzelDecorative-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Decorative";
  font-style: bold;
  font-weight: 700;
  src: url(../assets/fonts/CinzelDecorative-Bold.ttf);
  font-display: swap;
}
